.cart_title {
  text-align: center;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  margin: 96px 0 64px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper_items {
  display: flex;
}

.cart_items {
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.cart_frame {
  display: flex;
}

.cart_checkout {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
