@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1263px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 359px) {
  .container {
    padding: 0 5px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.grid-container {
  display: grid;
}
@media (max-width: 659px) {
  .grid-container {
    grid-template-columns: none;
    grid-template-columns: 1fr 1fr; /* Дві колонки рівної ширини */
    grid-template-columns: "subscribe-holder nav-holder";
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  margin: 20px 0;
  position: relative;
  border-bottom: 1px solid #D8D8D8;
  padding: 0 0 17px;
}
@media (max-width: 768px) {
  .header {
    border: none;
  }
}
.header__logo-image {
  transform: translateY(3px);
}
.header__nav-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__nav {
  border-right: 1px solid #707070;
}
@media (max-width: 768px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    transform: translateY(-200%);
    transition: all ease-in-out 0.3s;
    border: none;
  }
  .header__nav.open {
    transform: translateY(0);
  }
}
.header__nav-list {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .header__nav-list {
    flex-direction: column;
    width: 100%;
  }
}
.header__nav-item {
  padding: 0 20px 0 0;
}
@media (max-width: 768px) {
  .header__nav-item {
    padding: 0 0 20px;
    width: 100%;
  }
}
.header__nav-link {
  color: #000000;
}
.header__nav-link:hover {
  color: #707070;
}
@media (max-width: 768px) {
  .header__nav-link {
    display: block;
    text-align: center;
  }
}
.header__logo-holder {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
}
@media (max-width: 359px) {
  .header__logo-holder {
    margin: 0;
  }
}
.header__icon {
  padding: 0 20px 0 0;
}
@media (max-width: 359px) {
  .header__icon {
    padding: 0 15px 0 0;
  }
}
.header__icon:last-child {
  padding: 0;
  transform: translateY(1px);
}
.header__icon:hover {
  cursor: pointer;
}

.nav-opener {
  display: none;
}
@media (max-width: 768px) {
  .nav-opener {
    display: block;
    transform: translateY(0);
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 3;
  }
}
.nav-opener__menu-line {
  content: "";
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  background-color: #2f281e;
  transition: all ease-in-out 0.3s;
}
.nav-opener__menu-line:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav-opener__menu-line:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-opener__menu-line:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.open .nav-opener__menu-line:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.open .nav-opener__menu-line:nth-child(2) {
  opacity: 0;
}
.open .nav-opener__menu-line:nth-child(3) {
  bottom: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.footer {
  border-top: 1px solid #D8D8D8;
  margin: 0 0 40px;
  padding: 37px 0 0;
}
@media (max-width: 659px) {
  .footer .flex-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 659px) {
  .footer {
    border: none;
  }
}
.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 48px;
}
@media (max-width: 659px) {
  .footer__nav-list {
    flex-direction: column;
    padding: 0 0 20px;
  }
}
.footer__nav-item {
  padding: 0 41px 0 0;
}
.footer__nav-item:last-child {
  padding: 0;
}
@media (max-width: 768px) {
  .footer__nav-item {
    padding: 0 20px 0 0;
  }
}
@media (max-width: 659px) {
  .footer__nav-item {
    padding: 0 0 8px;
  }
}
.footer__nav-link {
  color: #707070;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.footer__privacy-policy {
  color: #707070;
  order: 1;
}
.footer__privacy-policy--text {
  color: #000000;
}
.footer__subscribe-icons {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-end;
}
@media (max-width: 659px) {
  .footer__subscribe-icons {
    width: 100%;
    justify-content: flex-start;
    padding: 0 0 20px;
  }
}
.footer__subscribe-list {
  padding: 0 20px 0 0;
}
.footer__subscribe-list:last-child {
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}
.login-container h1 {
  margin-bottom: 20px;
}
.login-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 300px;
}
.login-container .form-group label {
  margin-bottom: 5px;
}
.login-container .form-group input {
  padding: 8px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}
.login-container .form-group input:focus {
  outline: none;
  border: 1px solid #000000;
}
.login-container .form-group .error-message {
  color: #D82700;
  font-size: 14px;
  margin-top: 5px;
}
.login-container button {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-container button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.login-container .login-text {
  margin: 30px 0 0;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}
.registration-container h1 {
  margin-bottom: 20px;
}
.registration-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 300px;
}
.registration-container .form-group label {
  margin-bottom: 5px;
}
.registration-container .form-group input {
  padding: 8px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}
.registration-container .form-group input:focus {
  outline: none;
  border: 1px solid #000000;
}
.registration-container .form-group .error-message {
  color: #D82700;
  font-size: 14px;
  margin-top: 5px;
}
.registration-container button {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.registration-container button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
